{% load staticfiles %}
<html>

<head>
    <title>{% block title %}{% endblock%}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/public.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <head>

        <body>
            <nav class="navbar" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <h1><a	href="">Alliance Violin Community</a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="top-navbar-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'member:index' %}"><br>Beranda</a>
                            </li>
                            {% if request.user.profile.is_registration_paid %}
                            <li>
                                <a href="{% url 'member:latihan' %}"><br>Latihan</a>
                            </li>
                            <li>
                                <a href="{% url 'member:pembayaran' %}"><br>Administrasi</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'member:contact-us' %}"><br>Hubungi Kami</a>
                            </li>
                            <li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'login:logout' %}"><br>logout</a>
                                </li>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    {% block content %} {% endblock %}
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="{% static 'js/bootstrap.js' %}"></script>
        </body>

</html>
