{% extends 'member/base.html' %}
{% block title%}
Administrasi
{% endblock %}
{% block page_title %}
<div class="col-sm-12 wow fadeIn">
    <i class="fa fa-usd"></i>
    <h1><a href="{% url 'member:pembayaran' %}">Pembayaran </a>/</h1>
    <p> <i> Alliance Violin Community</i></p>
</div>
{% endblock %}
{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h3>Pembayaran~</h3>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table class="table table-responsive">
          <thead>
              <tr>
                  <th>Jenis Pembayaran</th>
                  <th>Metode Pembayaran</th>
                  <th>Tanggal</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
              {% for admn in adminitrasis %}
              <tr>
                  <td>{{admn.jenis.paymentstype}}</td>
                  <td>{{admn.method}}</td>
                  <td>{{admn.created_date}}</td>
                  <th>{{admn.status}}</th>
              </tr>
              {% endfor %}
          </tbody>
       </table>
    </div>
  </div>
</div>
{% endblock %}
