{% extends 'login/base.html' %}
{% load bootstrap3 %}
{% block title %}
  Lupa Password
{% endblock%}
{% block content %}
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="login_wrapper">
    <h2>Lupa Kata Sandi</h2>
    <section class="x_content">
      <div class = "x_panel">
        <strong><p>Ikuti langkah-langkah berikut :</p></strong>
        <ol>
          <li>Masukkan email Anda yang telah terdaftar.</li>
          <li>Cek pesan masuk pada Email Anda dari AVC.</li>
          <li>Ikuti Langkah Recovery berikutnya.</li>
        </ol>
      </div>
        <form  method="post">
          <div class="text-left">
            {% csrf_token %}
            {% bootstrap_form form %}
          </div>
            <button class="btn btn-primary submit" type="submit">Submit</button>
        </form>
    </section>
    <div class="separator col-md-12">
      <br />
      <div>
        <a href="{% url 'public:index' %}"><h3> Alliance Violin Community - Depok</h3></a>
        <p>Copyright 2017 Indonesia - All rights reserved. Template by <a href="http://azmind.com">Azmind</a>.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
