{% extends 'login/base.html' %}
{% block title %}
  Kata Sandi Berubah
{% endblock%}
{% block content %}

<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="login_wrapper">
    <h2>Kata Sandi Berhasil Diubah</h2>
    <section class="x_content">
      <p>
        Silahkan <a class = "btn btn-warning" href="{% url 'login:login' %}">Login </a>.
      </p>
    </section>
    <div class="separator col-md-12">
      <br />
      <div>
        <a href="{% url 'public:index' %}"><h3> Alliance Violin Community - Depok</h3></a>
        <p>Copyright 2017 Indonesia - All rights reserved. Template by <a href="http://azmind.com">Azmind</a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
