{% extends 'login/base.html' %}
{% block title %}
  Email sent
{% endblock%}
{% block content %}
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="login_wrapper">
    <h2>Silahkan Cek Email Anda !</h2>
    <section class="x_content">
      <p>
        Kami telah mengirimkan email kepada Anda berisi petunjuk untuk menyetel ulang kata sandi Anda, <strong>jika akun Anda Memang telah terdaftar dengan email tersebut</strong>.
      </p>
      <p>
        Jika Anda tidak menerima email, pastikan Anda telah memasukkan alamat email yang Anda daftarkan,
         dan periksa folder spam anda.
      </p>
    </section>
    <div class="separator col-md-12">
      <br />
      <div>
        <a href="{% url 'public:index' %}"><h3> Alliance Violin Community - Depok</h3></a>
        <p>Copyright 2017 Indonesia - All rights reserved. Template by <a href="http://azmind.com">Azmind</a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
