{% extends 'login/base.html' %}

{% block title%}
  Login
{% endblock %}

{% block content %}
<div class="col-md-12">
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
          <form id="login_form" method="post">
            <div class = "col-md-4"></div>
            <div class = "col-md-4">
            <h2>Login Form</h2>
          {% if not logged_in %}
          <div class="panel panel-danger">
            <div class="panel-heading">Username dan atau password Anda Salah</div>
          </div>
          {% endif %}
            {% csrf_token %}
            <div>
              <input label= 'Username' type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <br>
            <div>
              <input label= 'Password' type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <br>
            <div>
              <input class="btn btn-primary submit" type="submit" value="Login" /> <a href= "{% url 'password_reset' %}">Lupa Password</a>
            </div>
            <div class="clearfix"></div>
            </div>
              <div class="separator col-md-12">
                  <br />
                  <p class="change_link">Belum Terdaftar?
                  <a href="{% url 'public:register' %}" class="to_register"> Daftar </a>
                  </p>
                  <div class="clearfix"></div>
                  <br />
                  <div>
                    <a href="{% url 'public:index' %}"><h3> Alliance Violin Community - Depok</h3></a>
                    <p>Copyright 2017 Indonesia - All rights reserved. Template by <a href="http://azmind.com">Azmind</a>.</p>
                  </div>
              </div>
          </form>
      </section>
    </div>
</div>
</div>

{% endblock %}
