{% extends 'manajemen/base.html' %}
{% block title%}
Acara
{% endblock %}
{% block page_title %}
<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <i class="glyphicon glyphicon-sunglasses"></i>
            <h1><a href="{% url 'manajemen:home_acara' %}">Acara </a>/ Hallo {{request.user.username}} !</h1>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<br/>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h3>Daftar Acara{% if user.is_authenticated %} ~<small>
          <a href="{%	url	'manajemen:new_event'	%}"> Tambah Baru</a>
      </small>{% endif %}</h3>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table class="table table-responsive">
          <thead>
              <tr>
                  <th>Nama Event</th>
                  <th>Perusahaan</th>
                  <th>Tanggal Acara</th>
                  <th>Status</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              {% for event in acaras %}
              <tr>
                  <td>{{event.event_name}}</td>
                  <td>{{event.corporate}}</td>
                  <td>{{event.event_date}}</td>
                  <th>{{event.event_status}}</th>
                  <td>
                    {% if event.event_status == "waiting" %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalConfirm{{event.id}}">Confirm</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalCancelled{{event.id}}">Cancelled</button>
                    {% elif event.event_status == "deal"  %}
                    <a class="btn	btn-warning" href="{%	url	'manajemen:edit_event'	event.id	%}"><span	class="glyphicon	glyphicon-pencil"></span></a>
                    {% else %}
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalHapusEvent{{event.id}}"><span	class="glyphicon	glyphicon-trash"></span></button>
                    {% endif %}
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalDetail{{event.id}}">Details</button>
                  </td>
              </tr>
              <!-- Modal Confirm-->
              <div id="myModalConfirm{{event.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Konfirmasi Penerimaan Kerja Sama Acara</h4>
                    </div>
                    <div class="modal-body">
                      <p>Apakah Anda yakin telah menerima penawaran<h3>{{event.event_name}}</h3> oleh saudara
                      <h4>{{event.sender}}</h4> ? </p>
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'manajemen:confirmation_event' event.id %}"><button type="button" class="btn btn-primary">Ya</button></a>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Cencelled-->
              <div id="myModalCancelled{{event.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Tolak Tawaran Acara</h4>
                    </div>
                    <div class="modal-body">
                      <p>Apakah Anda yakin untuk menolak acara <h3>{{event.event_name}}</h3> yang ditawarkan oleh
                      <h4>{{event.sender}}</h4> ? </p>
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'manajemen:cancel_event' event.id %}"><button type="button" class="btn btn-primary">Ya</button></a>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Details-->
              <div id="myModalDetail{{event.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">{{event.event_name}}</h4>
                    </div>
                    <div class="modal-body">
                      <h3>{{event.corporate}}</h3>
                      <p>{{event.desc}}</p>
                      <p>tanggal pelaksanaan : <h4>{{event.event_date}}</h4></p>
                      <p>{{event.attachment }}</p>
                      <p>
                        {% if event.image %}
                          <img src="{{event.image.url}}" height='150' width='150'>
                        {% endif %}
                      </p>
                      <p>Dikirim oleh {{event.sender}} - {{event.phone}} - <strong>{{event.event_status}}</strong></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Hapus-->
              <div id="myModalHapusEvent{{event.id}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Hapus Acara - {{event.event_name}}</h4>
                          </div>
                          <div class="modal-body">
                              <p>Apakah Anda yakin untuk menghapus Acara <b>{{event.event_name}}</p>
                                  <h3>{{event.event_date}} </h3>
                                  <small>oleh <b>{{event.corporate}}</small></b></p>
                          </div>
                          <div class="modal-footer">
                              <a href="{% url 'manajemen:delete_event' event.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
