{% load staticfiles %}
<html>

<head>
    <title>{% block title %}{% endblock%}</title>
    <meta charset = "utf-8" />
    <meta name= "viewport" content= "width=device-width, initial-scale=1, maximum-scale=1,
    user-scalable=no">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/public.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/droidsans.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/opensans.css' %}" rel="stylesheet">
    <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTablaes.bootstrap.min.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <head>

        <body>
          <nav class="navbar" role="navigation">
              <div class="container">
                  <div class="navbar-header">
                      <h1><a	href="/">Alliance Violin Community</a></h1>

                  </div>
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                          <li>
                              <a href="{% url 'manajemen:index' %}">
                                <br>Beranda</a>
                          </li>
                          <li>
                              <a href="{% url 'manajemen:home_hpd' %}"><br>HPD</a>
                          </li>
                          <li>
                              <a href="{% url 'manajemen:home_psdm' %}"><br>PSDM</a>
                          </li>
                          <li>
                              <a href="{% url 'manajemen:home_keuangan' %}"><br>Keuangan</a>
                          </li>
                          <li>
                              <a href="{% url 'manajemen:home_inventaris' %}"><br>Inventaris</a>
                          </li>
                          <li>
                            {% if user.is_authenticated %}
                            <li>  <a href="{% url 'login:logout' %}"><br>logout</a></li>
                            {% endif %}
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>

            <div class="container">
                <div class="row">
                    {% block content %} {% endblock %}
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="{% static 'js/bootstrap.js' %}"></script>
            <script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
            <script src="{% static 'js/datatables/buttons.flash.min.js' %}"></script>
            <script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
            <script src="{% static 'js/datatables/buttons.print.min.js' %}"></script>
            <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "250px";
                    document.getElementById("main").style.marginLeft = "250px";
                    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
                }

                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                    document.getElementById("main").style.marginLeft = "0";
                    document.body.style.backgroundColor = "white";
                }
            </script>

        </body>

</html>
