{% extends 'manajemen/base.html' %}
{% block title %}
 Detail Artikel
{% endblock %}
{% block page_title %}
<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <i class="fa fa-adjust"></i>
            <h1><a href="{% url 'manajemen:home_hpd' %}">HPD</a>/</h1>
            <p>Detail Artikel <i> Alliance Violin Community</i></p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class = 'form-group'>
  <h1>{{articleid.title}}</h1>
  <div style="font-size:18px">
    <p>{{articleid.text|safe|linebreaksbr}}</p>
  </div>
  {% if articleid.image %}
  <br><img class="img-circle" src="{{articleid.image.url}}" height='150' width='150'>
  {% endif %}
  <p>{{articleid.created_date}}</p>
</div>
{% endblock %}
