{% extends 'manajemen/base.html' %}
{% load footer_dynamic %}
{% load bootstrap3 %}
{% block title%}
  HPD
{% endblock %}
{% block page_title %}
<div class="col-sm-12 wow fadeIn">
    <i class="fa fa-heart"></i>
    <h1><a href="{% url 'manajemen:home_hpd' %}">HPD</a> /</h1>
    <p>Ubah Kontak<i><small> Alliance Violin Community</small></i></p>
</div>
{% endblock %}
{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h3>Ubah Kontak</h3>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <form method="POST"> {% csrf_token %}
        <div class="col-md-2" style="text-align:right">
          <label>Alamat</label>
        </div>
        <div class="col-md-10">
          <input></input>
        </div>
        <div class="col-md-2" style="text-align:right">
          <label>Telepon Utama</label>
        </div>
        <div class="col-md-10">
          <input></input>
        </div>
        <div class="col-md-2" style="text-align:right">
          <label>Telepon Bantuan</label>
        </div>
        <div class="col-md-10">
          <input></input>
        </div>
        <div class="col-md-2" style="text-align:right">
          <label>Email</label>
        </div>
        <div class="col-md-10">
          <input></input>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <button class = "btn btn-primary" type="submit" class="save btn btn-default">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
