{% extends 'manajemen/base.html' %}
{% load bootstrap3 %}
{% block title%}
Ubah Data Barang
{% endblock %}
{% block page_title %}
<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <i class="fa fa-dropbox"></i>
            <h1><a href="{% url 'manajemen:home_inventaris' %}">Inventaris </a>/</h1>
            <p> Ubah Data Barang</p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class ="col-md-8 col-xs-12">
  <br>

  <form method="POST">
  <div class='left'><strong>Nama Barang</strong> <p><i>{{stuff_name}}</i></p></div>
    {% csrf_token %}
    {% bootstrap_form form_edit_barang %}
    <button class = "btn btn-primary" type="submit" class="save btn btn-default">Simpan</button>
  </form>
</div>
{% endblock %}
