{% extends 'manajemen/base.html' %}
{% load footer_dynamic %}
{% load bootstrap3 %}
{% block title%}
  HPD
{% endblock %}
{% block page_title %}
<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <i class="fa fa-bullhorn"></i>
            <h1><a href="{% url 'manajemen:home_hpd' %}">HPD </a>/ Hallo {{request.user.username}} !</h1>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<br/>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h3>Daftar Artikel{% if user.is_authenticated %} ~<small>
          <a href="{%	url	'manajemen:new_article'	%}"> Tambah Baru</a>
      </small>{% endif %}</h3>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <p class="text-muted font-13 m-b-30">
    Daftar artikel publikasi
    </p>
    <table id="datatable-buttons" class="font-13 table table-responsive table-stripped">
    <thead>
      <tr>
        <th>Judul Artikel</th>
        <th>Tanggal Pembaharuan</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td>{{article.title}}</td>
        <td>{{article.updated_date}}</td>
        <td><a class="btn	btn-info btn-sm" href= "{% url 'manajemen:detail_article' article.id %}"><span	class="fa fa-folder"></span> Lihat</a>
          <p></p>
          {% if article.is_mainarticle %}
            <a class="btn	btn-warning btn-sm" href="{%	url	'manajemen:edit_mainarticle'	article.id	%}"><span	class="glyphicon	glyphicon-pencil"></span> Ubah</a>
          {% else %}
            <a class="btn	btn-success btn-sm" href="{%	url	'manajemen:edit_article'	article.id	%}"><span	class="glyphicon	glyphicon-pencil"></span> Ubah</a>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModalHapusArticle{{article.id}}"><span	class="glyphicon	glyphicon-trash"></span> Hapus</button>
          {% endif %}
        </td>
      </tr>
      <!-- Modal -->
      <div id="myModalHapusArticle{{article.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Hapus Article "{{article.title}}"</h4>
                  </div>
                  <div class="modal-body">
                      <h3>Apakah Anda yakin untuk menghapus Article "{{article.title}}"
                          {{article.date}} ?</h3>
                  </div>
                  <div class="modal-footer">
                      <a href="{% url 'manajemen:delete_article' article.id %}"><button type="button" class="btn btn-danger">Hapus</button></a>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
    </tbody>
    </table>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h3>Pesan Broadcast</h3>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <p class="text-muted font-13 m-b-30">
    Daftar pesan broadcast akan muncul pada timeline profil pengguna.
    </p>
    <div class="right">
      <button type="button" class="btn btn-success btn-sm cricle" data-toggle="modal" data-target="#myModalNewBroadcast"><span	class="glyphicon	glyphicon-plus"></span></button>
    </div>
    <div id="myModalNewBroadcast" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pesan Broadcast</h4>
                </div>
                <div class="modal-body">
                  <form method="POST"> {% csrf_token %}
                    {% bootstrap_form message_form %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button class = "btn btn-primary" type="submit" class="save btn btn-default">Kirim</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
    <table id="datatable-buttons" class="font-13 table table-responsive table-stripped">
    <thead>
      <tr>
        <th>Judul Pesan</th>
        <th>Pengirim</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for message in messages %}
      <tr>
        <td>{{message.title}}</td>
        <td>{{message.writer}}</td>
        <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalMessageDetail{{message.id}}"><span	class="fa fa-folder"></span> lihat</button></td>
      </tr>
      <!-- Modal -->
      <div id="myModalMessageDetail{{message.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Pesan "{{message.title}}"</h4>
                  </div>
                  <div class="modal-body">
                      <p>{{message.message}}</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
    </tbody>
    </table>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h3>Kontak AVC ~</h3>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      {% if user.is_authenticated %}
      <div class="right">
        <a class="btn	btn-warning btn-md" href="{%	url	'manajemen:edit_contact'	%}"><span	class="glyphicon	glyphicon-pencil"></span> Ubah</a>
      </div>
      {% endif %}
      <form>
        <div class="col-md-2" style="text-align:right">
          <label><i class="glyphicon glyphicon-map-marker"></i></label>
        </div>
        <div class="col-md-10">
          <p>{% address_footer %}</p>
        </div>
        <div class="col-md-2" style="text-align:right">
          <label><i class="fa fa-phone"></i> Utama </label>
        </div>
        <div class="col-md-10">
          <p>{% call1_footer %}</p>
        </div>
        <div class="col-md-2" style="text-align:right">
          <label><i class="fa fa-phone"></i> Bantuan </label>
        </div>
        <div class="col-md-10">
          <p>{% call2_footer %}</p>
        </div>
        <div class="col-md-2" style="text-align:right">
          <label><i class="fa fa-envelope"></i></label>
        </div>
        <div class="col-md-10">
          <p>{% email_footer %}</p>
        </div>
        <div class="col-md-2" style="text-align:right">
          <label><i class="fa fa-facebook"></i></label>
        </div>
        <div class="col-md-10">
          <p><a href="{% facebook_footer %}">{% facebook_footer %}</a></p>
        </div>
        <div class="col-md-2" style="text-align:right">
          <label><i class="fa fa-twitter"></i></label>
        </div>
        <div class="col-md-10">
          <p><a href="{% twitter_footer %}">{% twitter_footer %}</a></p>
        </div>
        <div class="col-md-2" style="text-align:right">
          <label><i class="fa fa-instagram"></i></label>
        </div>
        <div class="col-md-10">
          <p><a href="{% instagram_footer %}">{% instagram_footer %}</a></p>
        </div>
        <div class="col-md-2" style="text-align:right">
          <label><i class="fa fa-youtube"></i></label>
        </div>
        <div class="col-md-10">
          <p><a href="{% youtube_footer %}">{% youtube_footer %}</a></p>
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
