{% extends 'manajemen/base.html' %} {% block title%} {% endblock %} {% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Daftar Artikel{% if user.is_authenticated %}<small>
          <a href="{%	url	'manajemen:new_article'	%}"> add-new</span></a>
      </small>{% endif %}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <p class="text-muted font-13 m-b-30">
    The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
    </p>
    <table id="datatable-buttons" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Judul Artikel</th>
        <th>Tanggal Publish</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td>{{article.title}}</td>
        <td>{{article.published_date}}</td>
        <td><a class="btn	btn-default" href= "{% url 'manajemen:detail_article' article.id %}"><span	class="glyphicon glyphicon-open"></span></a>
            <a class="btn	btn-default" href="{%	url	'manajemen:edit_article'	article.id	%}"><span	class="glyphicon	glyphicon-pencil"></span></a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}
