{% extends 'manajemen/base.html' %}
{% load humanize %}
{% load keuangan_dynamic %}
{% block title%}
Bendahara
{% endblock %}
{% block page_title %}
<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <i class="glyphicon glyphicon-save"></i>
            <h1><a href="{% url 'manajemen:home_keuangan' %}">Bendahara </a>/ Hallo {{request.user.username}} !</h1>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<br />
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
      <div class="x_title">
        <h4>Jenis Administrasi{% if user.is_authenticated %} ~<small>
            <a href="{% url 'manajemen:new_administration_type' %}"> Tambah Baru</a>
        </small>{% endif %}</h4>
          <div class="clearfix"></div>
      </div>
      <div class="x_content">
          <table id="jenispemasukkan" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
          <!-- <table class="table table-responsive"> -->
              <thead>
                  <tr>
                      <th>Tipe Administrasi </th>
                      <th>Nominal Pembayaran</th>
                      <th>Tanggal <i>Update</i></th>
                      <th>Aksi</th>
                  </tr>
              </thead>
              <tbody>
                  {% for administrasi_type in adminitrasi_tipe %}
                  <tr>
                      <td>{% if administrasi_type.paymentstype == "Registration and First Dues" %}
                        Pendaftaran dan Iuran Pertama
                        {% elif administrasi_type.paymentstype == "Dues"%}
                        Iuran
                        {% else %}
                        {{administrasi_type.paymentstype}}
                        {% endif %}</td>
                      <td>{{administrasi_type.nominal}}</td>
                      <td>{{administrasi_type.updated_date}}</td>
                      <td>
                        <a class="btn	btn-warning btn-sm" href="{%	url	'manajemen:edit_administration_type' administrasi_type.id %}"><span	class="glyphicon	glyphicon-pencil"></span> Ubah</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h3>Pemasukkan{% if user.is_authenticated %} ~<small>
          <a href="{% url 'manajemen:new_pembayaran' %}"> Tambah Baru</a>
      </small>{% endif %}</h3>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <!-- <div class="col-md-12">
        <h3 style="text-align: right"><a>
          Saldo*  Rp {{# saldo|intcomma }},00</a>
        </h3>
      </div> -->
      <div class="col-md-12 right">
        <p>*Saldo adalah jumlah rupiah yang telah dikonfirmasi</p>
      </div>
        <table id="pemasukkan" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
          <thead>
              <tr>
                  <th>Username</th>
                  <th>Jenis Pembayaran</th>
                  <th>Nominal</th>
                  <th>Metode Pembayaran</th>
                  <th>Tanggal</th>
                  <th>Status</th>
                  <th>Aksi</th>
              </tr>
          </thead>
          <tbody>
              {% for admn in adminitrasis %}
              <tr>
                  <td>{{admn.user}}</td>
                  <td>{% if admn.jenis.paymentstype == "Registration and First Dues" %}
                    Pendaftaran dan Iuran Pertama
                    {% elif admn.jenis.paymentstype == "Dues"%}
                    Iuran
                    {% else %}
                    {{admn.jenis.paymentstype}}
                    {% endif %}
                  </td>
                  <td>{{admn.nominal}}</td>
                  <td>{{admn.method}}</td>
                  <td>{{admn.created_date}}</td>
                  <th>{{admn.status}}</th>
                  <td>
                    {% if admn.status == "pending" %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalConfirm{{admn.id}}">Konfirmasi</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalCancelled{{admn.id}}">Batalkan</button>
                    {% else %}
                    <p> - </p>
                    {% endif %}
                  </td>
              </tr>
              <!-- Modal Confirm-->
              <div id="myModalConfirm{{admn.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Konfirmasi Penerimaan Pembayaran</h4>
                    </div>
                    <div class="modal-body center">
                      <p>Apakah Anda yakin telah menerima pembayaran<h3>{{admn.jenis.paymentstype}}</h3> oleh saudara
                      <h4>{{admn.user}}</h4> ? </p>
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'manajemen:confirmation_payment' admn.id %}"><button type="button" class="btn btn-primary">Ya</button></a>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Cencelled-->
              <div id="myModalCancelled{{admn.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Gagalkan Pembayaran</h4>
                    </div>
                    <div class="modal-body">
                      <p>Apakah Anda yakin akan menggagalkan pembayaran <h3>{{admn.jenis.paymentstype}}</h3> oleh saudara
                      <h4>{{admn.user}}</h4> ? </p>
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'manajemen:cancel_payment' admn.id %}"><button type="button" class="btn btn-primary">Ya</button></a>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
{% block script %}
<script>
$(document).ready(function() {
    $('#pemasukkan').DataTable();
    $('#jenispemasukkan').DataTable();
} );
</script>
{% endblock %}

{% endblock %}
