{% extends 'manajemen/base.html' %}
{% block title%}
{% endblock %}

{% block content %}
ini list article
{% if user.is_authenticated %}
<div>
  <a	href="{%	url	'manajemen:new_article'	%}"	class="top-menu"><span	class="glyphicon	glyphicon-plus">add</span><a>
</div>
{% endif %}
{% for article in articles %}
<div>
  <h1><a href= "{% url 'manajemen:detail_article' article.id %}">{{article.title}}</a></h1>
  <p>published : {{article.published_date}}</p>
  <p>{{article.text|linebreaksbr}}</p>
  <p>{{article.image}}</p>
</div>
{% endfor %}
{% endblock %}
