{% extends 'manajemen/base.html' %}
{% load admin_static %}
{% load bootstrap3 %}
{% block title%}
Absensi
{% endblock %}
{% block page_title %}
<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <i class="fa fa-plus"></i>
            <h1><a href="{% url 'manajemen:home_psdm' %}">PSDM</a>/</h1>
            <p> Absensi Baru<i> Alliance Violin Community</i></p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class= "col-md-4"></div>
<div class= "col-md-4">
  <h1>Absensi</h1>
  <form method="POST"> {% csrf_token %}
    {% bootstrap_form form_new_absensi %}
    <button type="submit" class="save btn btn-primary">Save</button>
  </form>
</div>
<script>
$( function() {
  $( "#id_daftar_orang_text" ).autocomplete({
    source: "/ajax_select/ajax_lookup/users"
  });

} );
</script>
{% endblock %}
