{% extends 'manajemen/base.html' %}
{% load bootstrap3 %}
{% block title%}
Artikel Baru
{% endblock %}
{% block page_title %}
<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <i class="fa fa-adjust"></i>
            <h1><a href="{% url 'manajemen:home_hpd' %}">HPD</a>/</h1>
            <p>Artikel Baru</p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class ="col-md-10">
  <br>
  <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
    {% bootstrap_form form_edit_article %}
    <button class = "btn btn-info" type="submit" class="save btn btn-default">Simpan</button>
  </form>
</div>
{% endblock %}
