{% extends 'manajemen/base.html' %}
{% load bootstrap3 %}
{% block title%}
Acara Baru
{% endblock %}
{% block page_title %}
<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <i class="glyphicon glyphicon-sunglasses"></i>
            <h1><a href="{% url 'manajemen:home_acara' %}">Program </a>/</h1>
            <p>Buat Acara</p>
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<style>
  .form-group {
    text-align: left;
  }
</style>
<br />
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_content">
      <form method="POST" class= "post-form" enctype="multipart/form-data">{% csrf_token %}
        {% bootstrap_form form_new_event %}
        <button type="submit" class="save btn btn-primary" value="Submit">Simpan</button>
      </form>
    </div>
  <div class="col-sm-6 wow fadeIn">
    {% for deals in devent %}
    <div>
      <h1><a href= "">{{deals.event_name}}</a></h1>
      <p>{{deals.image}}</p>
      <p>{{deals.desc|linebreaksbr}}</p>
      <p>{{deals.event_date}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
