{% extends 'manajemen/base.html' %}
{% block title%}
  PSDM
{% endblock %}
{% block page_title %}
<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <i class="fa fa-users"></i>
            <h1><a href="{% url 'manajemen:home_psdm' %}">PSDM </a>/</h1>
            <p>Pengelola Sumber Daya Manusia /<i> Alliance Violin Community</i></p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<br />
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h3>Kelas<small>
            <a href="{%	url	'manajemen:new_kelas'	%}"> Tambah - Baru</a></small></h3>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Kelas</th>
                        <th>Tanggal <i>update<i></th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for kelas in classes %}
                    <tr>
                        <td>{{kelas.nama_kelas}}</td>
                        <td><strong>{{kelas.updated_date}}</strong></td>
                        <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal{{kelas.id}}">Lihat</button>
                    </tr>
                    <!-- Modal -->
                    <div id="myModal{{kelas.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Kelas - {{kelas.nama_kelas}}</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>Member yang ada dalam Kelas ini : </h4>
                                    {% for user in kelas.user.all %} <p>{{user}}</p> {% endfor %}
                                    <div style= "text-align:center">
                                      <p>last updated  <strong>{{kelas.updated_date}}</strong>   </p><p>  </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
          <h3>Absensi
            <small>
            <a href="{%	url	'manajemen:new_attendance_kelas' %}"> Tambah - Baru</a></small></h3>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Kelas</th>
                        <th>Tanggal</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for presenting in presents %}
                    <tr>
                        <td>{{presenting.kelas}}</td>
                        <td>{{presenting.practice}}</td>
                        <td>
                          {% if now <= presenting.practice.date.date %}
                            <a class="btn	btn-warning" href="{%	url	'manajemen:edit_attendance'	presenting.id %}"><span	class="glyphicon	glyphicon-pencil"></span></a>
                          {% endif %}
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalAttendanceDetails{{presenting.id}}">Lihat</button>
                        <td>
                    </tr>
                    <!-- Modal -->
                    <div id="myModalAttendanceDetails{{presenting.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Absensi - {{presenting.kelas}} - {{presenting.practice.date}} -  {{presenting.practice.place}}</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>Member yang hadir: </h4>
                                    <!-- member yang hadir dan tutor yang hadir -->
                                    {% for user in presenting.is_present.all %} <ul>{{user}}</ul> {% endfor %}
                                </div>
                                <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h3>Jadwal Latihan{% if user.is_authenticated %}<small>
            <a href="{%	url	'manajemen:new_schedule'	%}"> Tambah - Baru</span></a>
        </small>{% endif %}</h3>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Tempat</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for practice in practices %}
                    <tr>
                        <td>{{practice.date}}</td>
                        <td>{{practice.place}}</td>
                        <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalDetails{{practice.id}}">Lihat</button>
                            {% if now <= practice.date.date %}
                            <a class="btn	btn-warning" href="{%	url	'manajemen:edit_schedule'	practice.id	%}"><span	class="glyphicon	glyphicon-pencil"></span></a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalHapus{{practice.id}}"><span	class="glyphicon	glyphicon-trash"></span></button>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div id="myModalHapus{{practice.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Hapus Jadwal Latihan</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Apakah Anda yakin untuk menghapus jadwal Latihan pada
                                        <h3>{{practice.date}} </h3>
                                        <small>{{practice.place}}</small></p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'manajemen:delete_schedule' practice.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Detail Schedule-->
                    <div id="myModalDetails{{practice.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Detail Jadwal Latihan</h4>
                                </div>
                                <div class="modal-body">
                                    <strong><p>Tanggal : {{practice.date}} </p>
                                    <p><i>Tempat </i>:{{practice.place}}</p>
                                    <p>Catatan : {{practice.note}}</p></strong>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
