{% extends 'manajemen/base.html' %}
{% block title%}
Sekretaris
{% endblock %}
{% block page_title %}
<!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 wow fadeIn">
            <i class="fa fa-pencil-square"></i>
            <h1><a href="{% url 'manajemen:home_sekretaris' %}">Sekretaris </a>/ Hallo {{request.user.username}} !</h1>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<br />
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class= "x_panel">
    <div class="x_title left">
      <h3>Rapat{% if user.is_authenticated %} ~<small>
          <a href="{% url 'manajemen:new_meeting_note' %}"> Tambah Baru</span></a>
      </small>{% endif %}</h3>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <table id="datatable-buttons" class="font-13 table table-responsive">
    <thead>
      <tr>
        <th>Judul</th>
        <th>Tanggal</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for meeting in meetings %}
      <tr>
        <td>{{meeting.title}}</td>
        <td>{{meeting.date_meet}}</td>
        <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalDetailRapat{{meeting.id}}"><span	class="fa fa-folder"></span> Lihat</button>
          <a class="btn	btn-warning btn-sm" href="{%	url	'manajemen:edit_meeting'	meeting.id	%}"><span	class="glyphicon	glyphicon-pencil"></span> Ubah</a>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModalHapusRapat{{meeting.id}}"><span	class="glyphicon	glyphicon-trash"></span> Hapus</button>
        </td>
      </tr>
      <!-- Modal Rapat-->
      <div id="myModalDetailRapat{{meeting.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Detail "{{meeting.title}}" - {{meeting.date_meet}} - {{meeting.place}}</h4>
                  </div>
                  <div class="modal-body">
                      <div class = "col-md-12 left">
                        <b>Catatan</b>
                      </div>
                      <div class = "clearfix"></div>
                      <br/>
                      <div class = "col-md-12">
                        <p>{{meeting.note}}</p>
                      </div>
                      <div class = "clearfix"></div>
                      <br/>
                      <div class = "col-md-4">
                        <b>Kehadiran</b>
                      </div>
                      <div class = "col-md-8">
                        {% for user in meeting.user.all %} <p>{{user}}</p> {% endfor %}
                      </div>
                      <div class = "clearfix"></div>
                      <br/>
                      <div class = "col-md-4">
                        <b>Dibuat pada</b>
                      </div>
                      <div class = "col-md-8">
                        {{meeting.created_date}}
                      </div>
                      <div class = "clearfix"></div>
                      <br/>
                      <div class = "col-md-4">
                        <b>Diperbaharui pada</b>
                      </div>
                      <div class = "col-md-8">
                        {{meeting.updated_date}}
                      </div>
                      <div class = "clearfix"></div>
                      <br/>
                  </div>
                  <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- Modal Delete Catatan-->
      <div id="myModalHapusRapat{{meeting.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Hapus Catatan Rapat</h4>
                  </div>
                  <div class="modal-body">
                      <p>Apakah Anda yakin untuk menghapus Catatan Rapat pada
                          <h3>{{meeting.date_meet}} </h3>
                          <small>{{meeting.place}}</small></p>
                  </div>
                  <div class="modal-footer">
                      <a href="{% url 'manajemen:delete_meeting' meeting.id %}"><button type="button" class="btn btn-danger">Hapus</button></a>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
    </tbody>
    </table>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
        <h2>Pengguna</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Tipe Pengguna</th>
                    <th>Kehadiran<br>(2 bulan terakhir)</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in userprofiles %}
                <tr>
                    <td>{{profile.user}}</td>
                    <td>{{profile.tipe_user}}</td>
                    <td>
                        {{profile.attend_last_three_months_percent}}
                        ({{profile.attend_last_three_months}}/{{profile.schedule_last_three_months}})

                    </td>
                    <td>
                      {% if profile.user.is_active %}
                      Aktif
                      {% else %}
                      Non Aktif
                      {% endif %}
                    </td>
                    <td>
                      {% if profile.user.is_active %}
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModalNonAktif{{profile.id}}">NonAktifkan</button>
                      {% else %}
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalAktif{{profile.id}}">Aktifkan</button>
                      {% endif %}
                    </td>
                </tr>
                <!-- Modal Non Aktifkan User-->
                <div id="myModalNonAktif{{profile.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <h1>
                                  Non Aktifkan Akun - {{profile.user}} ?
                                </h1>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
                              <a href="{% url 'manajemen:deactivate_user' profile.user.id %}"><button type="button" class="btn btn-danger">Ya</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Aktifkan User-->
                <div id="myModalAktif{{profile.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <h1>
                                  Aktifkan Akun - {{profile.user}} ?
                                </h1>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
                              <a href="{% url 'manajemen:activate_user' profile.user.id %}"><button type="button" class="btn btn-primary">Ya</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
