{% extends 'public/base.html' %}

{% block title %}
Artikel
{% endblock %}
{% block page_title%}
<div class="col-sm-12 wow fadeIn">
    <i class="fa fa-newspaper-o"></i>
    <h1><a href ="{% url 'public:articles' %}">Artikel</a> /article</h1>

</div>
{% endblock %}
{% block content %}
<style>
  .form-group {
    text-align: left;
    padding-bottom: 20px;
  }
</style>
<div class="container">
  <div class="row">
      <div class="col-sm-12 work-title wow fadeIn ">
        <br>
          <h2>Artikel</h2>
      </div>
  </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <div id="articles">{% include 'public/articleposts.html' %}</div>
        <br><br>
        <div class="col-md-12 center">
          <a class="btn btn-primary" id="loadmorearticle"
          href="javascript:void(0);"
          data-page="2"><i>Load More Article</i></a>
        </div>
      </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
(function($) {
  $('#loadmorearticle').on('click', function() {
    var link = $(this);
    var page = link.data('page');

    $.ajax({
      type: 'POST',
      url: '/load_articles/',
      data: {
        'page': page,
        'csrfmiddlewaretoken': "{{ csrf_token }}" // from index.html
      },
      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.has_next) {
            link.data('page', page+1);
        } else {
          link.hide();
        }
        // append html to the posts div
        $('#articles').append(data.article_html);
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));
</script>
{% endblock %}
