{% load staticfiles %}
{% load footer_dynamic %}
<html>

<head>
    <title>{% block title %}{% endblock%}</title>
    <meta charset = "utf-8" />
    <meta name= "viewport" content= "width=device-width, initial-scale=1, maximum-scale=1,
    user-scalable=no">

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/public.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/flexslider.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/droidsans.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/opensans.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <style>
      .form-group {
        text-align: left;
      }
    </style>
<head>
<body>
    <nav class="navbar-new" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1><a	href="{% url 'public:index' %}">Alliance Violin Community</a></h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'public:index' %}">
                          <br>Beranda</a>
                    </li>
                    <li>
                        <a href="{% url 'public:event_new' %}"><br>Acara</a>
                    </li>
                    <li>
                        <a href="{% url 'public:about' %}"><br>Tentang</a>
                    </li>
                    <li>
                        <a href="{% url 'public:konser' %}"><br>Konser</a>
                    </li>
                    <!-- <li>
                        <a href="#url 'public:contact'"><br>Hubungi Kami</a>
                    </li> -->
                    <li>
                      {% if user.is_authenticated %}
                      <li>
                        <a href="{% url 'login:logout' %}"><br>logout</a>
                      </li>
                      {% else %}
                      <a href="{% url 'public:register' %}"><br>Pendaftaran</a>
                    </li>
                    <li>
                      <a href="{% url 'login:login' %}"><br>Login</a>{% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Title -->
    <div class="page-title-container">
        <div class="container">
            <div class="row">
              {% block page_title %}
              {% endblock %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% block content %} {% endblock %}
        </div>
    </div>

<!-- Footer -->
<footer>
<div class="container">
    <div class="row">
        <div class="col-sm-6 footer-box wow fadeInUp">
            <!--Post Tag About Us-->
            <a href="{% url 'public:about' %}"><h4>Tentang AVC</h4></a>
            <div class="footer-box-text">
                <p>
                    Mari mengenal Alliance Violin Community Depok
                </p>
                <p><a href="{% url 'public:about' %}">Teruskan membaca...</a></p>
            </div>
        </div>
        <div class="col-sm-6 footer-box wow fadeInDown">
            <h4>Hubungi Kami</h4>
            <div class="footer-box-text footer-box-text-regist">
                <div class= "col-xl-4 col-md-4"><i class="fa fa-map-marker"></i> Alamat:{% address_footer %}</div>
                <div class= "col-xl-4 col-md-4"><i class="fa fa-phone"></i>
                  Call: {% call1_footer %}
                  {% call2_footer as call2_footer %}
                  {% if call2_footer%}
                    atau
                  {% endif %}
                  {% call2_footer %}
                </div>
                <div class= "col-xl-4 col-md-4"><i class="fa fa-envelope"></i> Email: <a href="">{% email_footer %}</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 wow fadeIn">
            <div class="footer-border"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 footer-copyright wow fadeIn">
            <p>Copyright 2017 Indonesia - All rights reserved. Template by <a href="http://azmind.com">Azmind</a>.</p>
        </div>
        <div class="col-sm-5 footer-social wow fadeIn">
          <a href="{% facebook_footer %}"><i class="fa fa-facebook"></i></a>
          <a href="{% twitter_footer %}"><i class="fa fa-twitter"></i></a>
          <a href="{% instagram_footer %}"><i class="fa fa-instagram"></i></a>
          <a href="{% youtube_footer %}"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>
