{% load staticfiles %}
{% load footer_dynamic %}
{% load permission_tags %}
<html>

<head>
    <title>{% block title %}{% endblock%}</title>
    <meta charset = "utf-8" />
    <meta name= "viewport" content= "width=device-width, initial-scale=1, maximum-scale=1,
    user-scalable=no">

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/public.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/media-queries.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/droidsans.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/opensans.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <style>
      .form-group {
        text-align: left;
      }
      .left {
        text-align: left;
      }
      .right{
        text-align: right;
      }
    </style>
</head>
<body>
  <nav class="navbar-new" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
            <h3><span class="glyphicon glyphicon-menu-hamburger"></span><h3>
          </button>
          <h2 class = "left" style = "padding-left:15px"><a	href="{% url 'public:index' %}">Alliance Violin Community</a></h2>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse left" id="top-navbar-1">
          <ul class="nav navbar-nav navbar-right">
              <li {% if request.resolver_match.url_name == 'index' %}class="active"{% endif %}>
                  <a href="{% url 'public:index' %}">
                    <br>Beranda</a>
              </li>
              <li {% if request.resolver_match.url_name == 'events' %}class="active"{% endif %}>
                  <a href="{% url 'public:events' %}">
                    <br>Acara</a>
              </li>
              <li {% if request.resolver_match.url_name == 'about' %}class="active"{% endif %}>
                  <a href="{% url 'public:about' %}"><br>Tentang</a>
              </li>
              <li {% if request.resolver_match.url_name == 'konser' %}class="active"{% endif %}>
                  <a href="{% url 'public:konser' %}"><br>Konser</a>
              </li>
              {% if user.is_authenticated %}
                {% if user|has_role:'manajemen' %}
                  <li {% if request.resolver_match.url_name == 'home_tutor' %}class="active"{% endif %}>
                      <a href="{% url 'public:home_tutor' %}"><br>Tutor</a>
                  </li>
                {% endif %}
              <li>
                <li class="dropdown {% if request.resolver_match.url_name == 'myprofile' %}active{% endif %}" >
    							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
    								<br>Hi <strong>{{user.username}}</strong> <span class="caret"></span>
    							</a>
    							<ul class="dropdown-menu dropdown-menu-left" role="menu">
    								<li><a href="{% url 'login:logout' %}"><i class="glyphicon glyphicon-log-out"></i> Keluar </a></li>
                    <li><a href="{% url 'public:myprofile' %}"><i class="glyphicon glyphicon-user"></i> Profile </a></li>
                    {% if user|has_role:'manajemen' %}
                    <li><a href="{% url 'manajemen:index' %}"><i class="fa fa-users"></i> Manajemen</a></li>
                    {% endif %}
    							</ul>
    						</li>
                {% else %}
                <a href="{% url 'public:register' %}"><br>Pendaftaran</a>
              </li>
              <li>
                <a href="{% url 'login:login' %}"><br>Login</a>
              </li>
              {% endif %}
          </ul>
				</div>
			</div>
		</nav>
    <!-- Page Title -->
    <div class="page-title-container">
        <div class="container">
            <div class="row">
              {% block page_title %}
              {% endblock %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% block content %} {% endblock %}
        </div>
    </div>

<!-- Footer -->
<footer>
<div class="container">
    <div class="row">
        <div class="col-sm-6 footer-box col-md-6">
            <!--Post Tag About Us-->
            <a href="{% url 'public:about' %}"><h4>Tentang AVC</h4></a>
            <div class="footer-box-text">
                <p>
                    Mari mengenal Alliance Violin Community Depok
                </p>
                <p><a href="{% url 'public:about' %}">Teruskan membaca...</a></p>
            </div>
        </div>
        <div class="col-sm-6 footer-box col-md-6">
            <h4>Hubungi Kami</h4>
            <div class="footer-box-text footer-box-text-regist">
                <div class= "col-xl-4 col-md-4"><i class="fa fa-map-marker"></i> Alamat:{% address_footer %}</div>
                <div class= "col-xl-4 col-md-4"><i class="fa fa-phone"></i>
                  Call: {% call1_footer %}
                  {% call2_footer as call2_footer %}
                  {% if call2_footer%}
                    atau
                  {% endif %}
                  {% call2_footer %}
                </div>
                <div class= "col-xl-4 col-md-4"><i class="fa fa-envelope"></i> {% email_footer %}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 wow fadeIn">
            <div class="footer-border"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 footer-copyright wow fadeIn">
            <p>Copyright 2017 Indonesia - All rights reserved. Template by <a href="http://azmind.com">Azmind</a>.</p>
        </div>
        <div class="col-sm-5 footer-social wow fadeIn">
          <a href="{% facebook_footer %}"><i class="fa fa-facebook"></i></a>
          <a href="{% twitter_footer %}"><i class="fa fa-twitter"></i></a>
          <a href="{% instagram_footer %}"><i class="fa fa-instagram"></i></a>
          <a href="{% youtube_footer %}"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>
</footer>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
{% block script %}
{% endblock %}
</html>
