{% extends 'public/base.html' %}
{% load bootstrap3 %}
{% block title %}
Pengaturan
{% endblock%}
{% block page_title %}
<div class="col-sm-12 wow fadeIn">
  <i class="fa fa-edit"></i>
  <h1> <a href ="{% url 'public:myprofile' %}">Profile {{user.username}} /</a> Ubah Profile </h1>
</div>
{% endblock %}
{% block content %}
<div class= "col-md-4"></div>
<div class= "col-md-4 col-md-12">
  <div class= "x_content">
    <form method="POST" class="left" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="divider"></div>
        {% bootstrap_form form_edit_profile %}
      <button class = "btn btn-primary" type="submit" >Simpan</button>
      <a class="btn btn-warning" href= "{% url 'login:change_password' %}"><i class="fa fa-edit m-right-xs"></i>Ubah Password</a>
    </form>
  </div>
</div>
{% endblock %}
