{% extends 'public/base.html' %}
{% block title %}
  Event Details
{% endblock %}
{% block page_title%}
<div class="col-sm-12 wow fadeIn">
    <i class="fa fa-key"></i>
    <h1><a href= "{% url 'public:events' %}">Acara</a> /</h1>
    <p>Detail Acara</p>
</div>
{% endblock %}
{% block content %}

  <h1>{{eventid.event_name}}</h1>

  {% if eventid.image %}<img src="{{eventid.image.url}}" >
  {% endif %}
  <br /><br />
<div class ="left">
  <p>{{eventid.desc|linebreaksbr}}</p>
  <p>{{eventid.created_date}}</p>
</div>
{% endblock %}
