{% extends 'public/base.html' %}
{% load bootstrap3 %}
{% block title%}
  Acara
{% endblock %}
{% block page_title%}
<div class="col-sm-12 wow fadeIn">
    <i class="fa fa-key"></i>
    <h1><a href= "{% url 'public:event_new' %}">Acara</a> /</h1>
    <p>Upcoming events</p>
</div>
{% endblock %}

{% block content %}
<style>
  .form-group {
    text-align: left;
  }
</style>
<div class="col-sm-12 form-group">
  <br/><br/>
  <div class ="x_panel">
    <div class = "x_title">
      <h3>Upcoming Event~</h3>
    </div>
    {% for deals in devent %}
    {{deals.event_name}}
    <div class="event-box print-design">
    	<div class="event-box-container">
        {% if deals.image %}
        <img src="{{deals.image.url}}">
        {% endif %}
    		<div class="event-box-text">
    			<h3>{{deals.event_name}}</h3>
    			<p>{{deals.desc|linebreaksbr|slice:":100"}}</p>
    		</div>
  		</div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="col-sm-6 form-group">
  <div class ="x_panel">
    <div class = "x_title">
      <h3>Penawaran Acara~</h3>
    </div>
      <form method="POST" class= "post-form" enctype="multipart/form-data">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="save btn btn-primary" value="Submit">Kirim Ajuan</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
