{% extends 'public/base.html' %}
{% load staticfiles %}
{% block title%}
{% load bootstrap3 %}
Profile
{% endblock %}
{% block page_title %}
<div class="col-sm-12 wow fadeIn">
  <h1><a href="{% url 'public:index' %}">Selamat Datang </a>{{ user.first_name }} <a>!</a></h1>
{% if user.profile.email_confirmed == False %}
  <div class="right">
    <blockquote class="btn btn-danger message">Email Anda belum dikonfirmasi</h3>
  </div>
{% endif %}
</div>
{% endblock %}

{% block content %}
<br/>
{% if request.user.profile.is_registration_paid %}
  <div class="col-md-3 col-sm-3 col-xs-12 ">
    <div class="profile_img">
      <div id="crop-avatar">

        {% if request.user.profile.photo %}
        <img class="img-circle" src="{{request.user.profile.photo.url}}" height='150' width='150' alt="Avatar" title="Change the avatar">
        {% else %}
        <img class="img-circle img-responsive" src="{% static 'pictures/default_ava.png' %}" height='150' width='150' alt="Avatar" title="the avatar">
        {% endif %}
      </div>
    </div>
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>

    <ul class="list-unstyled user_data">
      <li><i class="fa fa-envelope user-profile-icon"></i> {{ user.email }}
      </li>
      <li><i class="fa fa-map-marker user-profile-icon"></i> {{ user.profile.address }}
      </li>
      <li>
        <i class="fa fa-briefcase user-profile-icon"></i> {{ user.profile.tipe_user }}
      </li>
    </ul>
    <a class="btn btn-success" href= "{% url 'public:edit_profile' user.profile.id %}"><i class="fa fa-edit m-right-xs"></i>Ubah Profile</a>
    <br />
    <br />
  </div>

  <div class="col-md-9 col-sm-9 col-xs-12">
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Pengumuman</a>
        </li>
        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Latihan</a>
        </li>
        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Pembayaran</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

          <!-- start recent activity -->
          <ul class="messages left">
            {% for message in timeline_messages %}
            <li>
              <div class="message_date">
                <h3 class="date text-info">{{message.created_date|date:'d'}}</h3>
                <p class="month">{{message.created_date|date:'F'}}</p>
              </div>
              <div class="message_wrapper">
                <h4 class="heading">{{message.title}}</h4>
                <blockquote class="message">{{message.message|slice:":100"}}</blockquote><br/><a data-toggle="modal" data-target="#myModal{{message.id}}">Teruskan membaca...</a>
                <br />
              </div>
            </li>
            <!-- Modal -->
            <div id="myModal{{message.id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{message.title}}</h4>
                  </div>
                  <div class="modal-body">
                    <p>{{message.message|safe}}</p>
                    <h3 class="date text-info">{{message.created_date|date:'d'}}</h3>
                    <p class="month">{{message.created_date|date:'F'}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </ul>
          <!-- end recent activity -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

          <!-- start user projects -->
          <table class="data table table-striped table-responsive no-margin">
            <thead>
              <tr>
                <th>Record Kelas</th>
                <th>Tanggal</th>
              </tr>
            </thead>
            <tbody>
              {% for kls in mykelas %}
              <tr>
                <td>{{kls.kelas_before}}</td>
                <td>{{kls.joined_date}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- end user projects -->

        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
          <br>
          <div class="left">
            <button type="button" class="circle btn btn-warning" data-toggle="modal" data-target="#NewPaymentOfferForm">Ajukan pembayaran Anda</button>
            <small>Anda dapat mengajukan sebuah catatan pembayaran untuk dikonfirmasi oleh bendahara.</small>
          </div>
          <br>
          <div id="NewPaymentOfferForm" class="modal fade" role="dialog">
              <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Ajukan catatan pembayaran</h4>
                      </div>
                      <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                          {% bootstrap_form form_new_payment %}
                          <button class = "btn btn-primary" type="submit" class="save btn btn-default">Ajukan</button>
                        </form>
                      </div>
                  </div>
              </div>
          </div>
          <!-- start user projects -->
          <table class="data table table-striped table-responsive no-margin">
            <thead>
              <tr>
                <th>Jenis Pembayaran</th>
                <th>Metode Pembayaran</th>
                <th>Tanggal</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for admn in adminitrasis %}
              <tr>
                <td>{{admn.jenis.paymentstype}}</td>
                <td>{{admn.method}}</td>
                <td>{{admn.created_date}}</td>
                <td>{{admn.status}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- end user projects -->
        </div>
      </div>
    </div>
  </div>
{% elif regis_payment.method == 'cash' %}
<p>
  Pembayaran Pendaftaran dan Iuran bulan pertama Anda belum dikonfirmasi oleh pihak manajemen
</p>
{% else %}
  {% if regis_payment.image %}
    <h4>Terima Kasih telah melakukan pembayaran. </h4>
    <small>salah upload foto transfer?
    <p type="button" class="circle btn btn-warning" data-toggle="modal" data-target="#helppenawaran"><small>Upload Bukti Kembali</small></p></small>
  {% else %}
  <h4>Anda mendaftar dengan pilihan pembayaran transfer. Silahkan lampirkan bukti pembayaran Anda.</h4>
  <button type="button" class="circle btn btn-warning" data-toggle="modal" data-target="#helppenawaran">Upload Bukti Transfer</button>
  {% endif %}
    <!-- Modal help Penawaran -->
    <div id="helppenawaran" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload Bukti Pembayaran</h4>
                </div>
                <div class="modal-body">
                  <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    {% bootstrap_form form_transfer %}
                    <button class = "btn btn-primary" type="submit" class="save btn btn-default">Submit</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
  <br /><br />

{% endif %}

{% endblock %}
{% block script %}
{% endblock %}
