{% extends 'public/base.html' %}
{% block title%}
Profile
{% endblock %}
{% block page_title %}
<div class="col-sm-12 wow fadeIn">
  <h1><a href="{% url 'member:index' %}">Selamat Datang </a>{{ user.first_name }} <a>!</a></h1>
</div>
{% endblock %}

{% block content %}
<br/>
{% if request.user.profile.is_registration_paid %}
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="profile_img">
      <div id="crop-avatar">
        {% if user.profile.photo %}
        <img class="img-circle" src="{{user.profile.photo.url}}" height='150' width='150' alt="Avatar" title="Change the avatar">
        {% endif %}
      </div>
    </div>
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>

    <ul class="list-unstyled user_data">
      <li><i class="fa fa-envelope user-profile-icon"></i> {{ user.email }}
      </li>
      <li><i class="fa fa-map-marker user-profile-icon"></i> {{ user.profile.address }}
      </li>
      <li>
        <i class="fa fa-briefcase user-profile-icon"></i> {{ user.profile.tipe_user }}
      </li>
    </ul>

    <a class="btn btn-success" href= "{% url 'public:edit_profile' user.id %}"><i class="fa fa-edit m-right-xs"></i>Ubah Profile</a>
    <br />
    <br />
  </div>

  <div class="col-md-9 col-sm-9 col-xs-12">
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Acara Terbaru</a>
        </li>
        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Latihan</a>
        </li>
        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Pembayaran</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

          <!-- start recent activity -->
          <ul class="messages left">
            {% for event in events %}
            <li>
              {% if event.image %}
              <img class="avatar" alt="Avatar"src="{{event.image.url}}">
              {% endif %}
              <div class="message_date">
                <h3 class="date text-info">{{event.event_date|date:'d'}}</h3>
                <p class="month">{{event.event_date|date:'F'}}</p>
              </div>
              <div class="message_wrapper">
                <h4 class="heading">{{event.event_name}}</h4>
                <blockquote class="message">{{event.desc|slice:":100"}}</blockquote><br/><a data-toggle="modal" data-target="#myModal{{event.id}}">Teruskan membaca...</a>
                <br />
              </div>
            </li>
            <!-- Modal -->
            <div id="myModal{{event.id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{event.event_name}}</h4>
                  </div>
                  <div class="modal-body">
                    <p>{{event.desc|safe}}</p>
                    <p>tanggal pelaksanaan : <h4>{{event.event_date}}</h4></p>

                    <p>
                      {% if event.image %}
                        <img src="{{event.image.url}}">
                      {% endif %}
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </ul>
          <!-- end recent activity -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

          <!-- start user projects -->
          <table class="data table table-striped table-responsive no-margin">
            <thead>
              <tr>
                <th>Nama Kelas</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              {% for kls in kelas %}
              <tr>
                <td>{{kls.nama_kelas}}</td>
                <td>
                  {% if kls.note %}
                  {{kls.note}}
                  {% else %}
                  -
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- end user projects -->

        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
          <!-- start user projects -->
          <table class="data table table-striped table-responsive no-margin">
            <thead>
              <tr>
                <th>Jenis Pembayaran</th>
                <th>Metode Pembayaran</th>
                <th>Tanggal</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for admn in adminitrasis %}
              <tr>
                <td>{{admn.jenis.paymentstype}}</td>
                <td>{{admn.method}}</td>
                <td>{{admn.created_date}}</td>
                <td>{{admn.status}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- end user projects -->
        </div>
      </div>
    </div>
  </div>
{% else %}
<p>
  Pembayaran Pendaftaran dan Iuran bulan pertama Anda belum dikonfirmasi oleh pihak manajemen
</p>
{% endif %}

{% endblock %}
{% block script %}
{% endblock %}
