{% extends 'public/base.html' %}
{% load humanize %}
{% load bootstrap3 %}
{% block title %}
Pendaftaran
{% endblock %}
{% block page_title%}
<div class="col-sm-12 wow fadeIn">
    <i class="fa fa-play"></i>
    <h1><a href ="{% url 'public:register' %}">Ayo mulai !! </a>/</h1>
    <p>pendaftaran</p>
</div>
{% endblock %}
{% block content %}
<br>
<div class="col-md-6 col-xs-12 left" style="padding: 24px">
  <strong><h1 style="font-family:Arial;">"Satu jam lebih baik dari pada satu minggu menunggu"</h1></strong>
  <p style="font-family:Akagi Pro, sans-serif;font-size:20">AVC Depok adalah sebuah wadah untuk berkeluarga dan bersatu demi sesuatu yang dicintai bersama. ~MUSIK~</p>
  <br>
  <h4>Pertanyaan yang sering diajukan :</h4>
  {% for tanyajawab in questionanswer %}
  <br>
  <strong>{{tanyajawab.question}}</strong>
  <p>{{tanyajawab.answer}}</p>
  {% endfor %}
  <br>
  <strong>Kawan-kawan dapat mengajukan pertanyaan lain melalui sosial media AVC atau contact HP AVC ya.</strong>
</div>
<div class="col-md-6 col-xs-12 left">
  {% if registered %}
    <strong>Terima Kasih telah mendaftar, Silahkan Cek e-mail Anda!</strong>
    <a href="{% url 'public:index' %}">Kembali ke Beranda</a><br />
  {% else %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class ="x_panel">
          <div class = "x_title">
            <h4>Administrasi~</h4><small>pilih metode pembayaran</small>
          </div>
          <b><p>Pembayaran Pendaftaran dan Iuran bulan pertama <a>Rp {{regis_fee|intcomma}},00</a></p></b>
          <div class = "x_content">
            {% bootstrap_form regisadm_form%}
          </div>
          <div class = "x_title">
            <h4>Akun~</h4><small>buat akun AVC Anda</small>
          </div>
          <div class = "x_content">
            {% bootstrap_form user_form%}
            <label>
                <input type="checkbox" required=True> setuju dengan <a data-toggle="modal" data-target="#termandcondition">syarat dan ketentuan AVC</a>
            </label>

              <br/><br/>
              <input class ="btn btn-primary" type="submit" name="submit" value="Daftar" />
          </div>
        </div>
    </form>
  {% endif %}
  <!-- Modal -->
  <div id="termandcondition" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">{{conditions.title}}</h4>
              </div>
              <div class="modal-body">
                  {{conditions.text|safe}}
              </div>
              <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock%}
