{% extends 'public/base.html' %}
{% load bootstrap3 %}
{% block title %}
Pendaftaran
{% endblock %}
{% if not registered %}
{% block page_title %}
<div class="col-sm-12 wow fadeIn">
    <i class="fa fa-key"></i>
    <h1>Daftar /</h1>
    <p>Jadilah bagian dari keluarga besar <i> Alliance Violin Community</i></p>
</div>
{% endblock %}
{% endif %}
{% block content %}
  <h3>Formulir Pendaftaran</h3>
  <h4>Harap Perhatikan Syarat dan Ketentuan yang berlaku</h4>
  {% if registered %}
    <strong>Terima Kasih telah mendaftar, Silahkan Cek e-mail Anda!</strong>
    <a href="{% url 'public:index' %}">Kembali ke Beranda</a><br />
  {% else %}
    Login says: <a href="{% url 'public:register' %}"><strong>register here!</strong></a><br />
    <form id="user_form" method="post" enctype="multipart/form-data">
        {% csrf_token %} {% bootstrap_form user_form %} {% bootstrap_form profile_form%}
        <div>
            <p>Pembayaran Pendaftaran dan Iuran bulan pertama Rp. 350.000,00</p>
        </div>{% bootstrap_form administrasi_form %}
        <input type="submit" name="submit" value="Register" />
    </form>
  {% endif %}
{% endblock%}
